@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

nav{
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
    position: sticky;
    background-color: white;
    top: 0;
    margin-bottom: 32px;
    /* padding: 32px; */
    z-index: 50;
}

html, body{
    font-weight: 600;
    line-height: 1.4;
    font-family: 'Roboto', sans-serif;
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    margin: 0 auto;
    max-width: 1200px;
}

.bar-icon{
    font-size: 32px;
}

button{
    padding: 10px 15px;
    transition: 0.2s ease-in-out;
    border: none;
}
button:hover{
    opacity: 0.8;
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
}

/* hero section */

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero_content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.tag{
    background-color: green;
    color: white;
    padding: 5px 10px;
    align-self: flex-start;

}

.explore_btn{
    background-color: orange;
    align-self: flex-start;
}

.hero_content h1{
    font-size: 72px;
    line-height: 1.2;
    font-weight: 400;
}

 /* features */

 .features{
    margin-top: 100px;
    display: flex;
    gap:20px;
    justify-content: center;
    margin-bottom: 20px;
    padding: 10px;
 }
 .feature{
    display: flex;
 }
 .feature:hover{
    transition: 0.2s ease-in-out;
    box-shadow: 5px 5px 5px rgba(1,1,1,0.05);
 }

 .feature img{
    width: 72px;
 }

 .divider{
    border: 1px solid #ccc;
    margin: 20px 0;
 }

 /* menu section */
 .menu{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 50px 0;
    align-items: center;
 }
 
 .menu .tag{
    align-self: center;
 }

 .grid{
    display: grid;
    grid-template-areas: 
    "I1 I1 I2 I3"
    "I1 I1 I2 I7"
    "I4 I5 I6 I7";
    gap: 10px;

 }

 .grid > *{
    margin: 0;
 }
 .grid img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    
 }
 .grid img:hover{
    transition: 0.2s ease-in-out;
    transform: scale(1.05);
 }

 .item1{
    grid-area: I1;
 }
 .item2{
    grid-area: I2;
 }
 .item3{
    grid-area: I3;
 }
 .item4{
    grid-area: I4;
 }
 .item5{
    grid-area: I5;
 }
 .item6{
    grid-area: I6;
 }
 .item7{
    grid-area: I7;
 }

 /* footer section */
 footer{
    background-color: bisque;
    margin-top: 50px;
 }

 .footer_container{
    padding: 30px;
    display: flex;
    justify-content: space-between;
 }

 .link_lists h3{
    margin-bottom: 10px;
    color: grey;
 }

 .link_lists ul{
    list-style-type: none;
 }

 .link_lists ul li{
    font-size: 16px;
    margin-bottom: 5px;
 }

 .news_letter h3{
    color: gray;
    /* margin-bottom: 30px; */
 }

 .news_letter input{
    margin: 10px 5px;
 }

 .icon_container{
    display: flex;
    font-size: 32px;
    gap: 15px;
 }




 

@media(max-width: 786px){
    .hero{
        flex-direction: column;
    }
    .hero_image{
        max-width: 90%;
    }
    .hero_content{
        padding: 10px;
        gap: 10px;
    }
    .hero_content h1{
        font-size: 32px;
    }
    .features{
        flex-direction: column;
    }

    .feature{
        flex-direction: column;
    }
    .grid{
        padding: 10px;
    }
    .grid > *{
        border: 0;
    }
    .footer_container{
        flex-direction: column;
    }
}